
#pdfs
*.pdf

#backup files
~*

#sublime project
*.sublime-project
*.sublime-workspace

#ignore generated python files
*.pyc

#ignore generated token file
*.tokens

#scratch folder for compiling
sratch
scratch/*

